@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>

<div class="card-deck">
    <div class="card">
        <div class="card-body">
        <h4 class="card-title">委员会</h4>
            <p>共有n个委员会，点击
                <a asp-controller="Committee" asp-action="Index" class="btn btn-link px-0">查看</a>
            </p>
            <div>
                <a asp-action="Create" asp-controller="Committee" class="btn btn-small btn-primary">新建委员会</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
        <h4 class="card-title">会员</h4>
            <p>共有m个会员，点击
                <a asp-action="Index" asp-controller="Member" class="btn btn-link px-0">查看</a>
            </p>
            <div>
                <a asp-controller="Member" asp-action="Create" class="btn btn-small btn-secondary">创建新会员</a>
            </div>
        </div>
    </div>
</div>
